.dashboard {
    overflow-y: hidden;

    .hr {
        margin-bottom: 10px;
    }


    &__top-buttons {
        text-align: right;
        margin-bottom: 20px;
    }

    .row {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    &__heading {
        margin-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.2rem;
        font-weight: 600;
        text-align: right;
    }

    &__left-section {
        padding-top: 95px;
        background-color: $color-primary-0;
        height: 100vh;
        color: $color-primary-1;

        h3 {
            text-align: center;
            text-transform: uppercase;
            font-size: 1.4rem;
        }

        &__user-info {
            text-align: center;

            h6 {
                margin-bottom: 0 !important;
                padding: 0;
                letter-spacing: 1px;
                font-weight: 700;
            }

            small {
                margin: 0;
                padding: 0;
                color: gold;
            }
        }


        &__dashboard-nav {
            margin-top: 60px;
            text-align: center;

            &__button {
                width: 100%;
                text-transform: uppercase;
                margin: 10px 0;
                background-color: $color-primary-1;
                border-radius: 5px;
                color: $color-primary-0;
                font-weight: 700;
                padding: 3px;
                letter-spacing: 1px;
                user-select: none;
                -moz-user-select: none;
                -webkit-user-select: none;
                -webkit-touch-callout: none;

                &:hover {
                    background-color: darken($color-primary-1, 6%);
                    cursor: pointer;
                }
            }
        }
    }

    &__right-section {
        padding-top: 70px;
        height: 100vh;
        overflow-y: scroll;
        background-color: rgb(235, 235, 235);
        overflow-x: hidden;


        &__box {
            width: 480px;
            height: 300px;
            background: $color-primary-0;
            border-radius: 5px;
            margin: auto;
            ;
            margin-bottom: 30px;
            padding-bottom: 5px;
            box-shadow: 0 0 2px rgba(black, .9);

            &__header {
                position: relative;
                margin: 0 5px;
                background-color: $color-primary-1;
                border-radius: 2px 2px 0 0;
                // box-shadow: 0 0 2px rgba(black, .9);
                padding: 0 5px;
                text-transform: uppercase;
                font-weight: 800;

                .button-quad {
                    position: absolute;
                    right: 5px;
                    top: 3px;
                }
            }

            &__body {
                padding: 2px 5px;
                overflow-y: auto;
                height: 90%;
            }

            &__list {
                &__el {

                    background-color: white;
                    margin-bottom: 2px;
                    border-radius: 2px;
                    padding-left: 5px;
                    font-size: .8rem;
                    font-weight: 600;
                    position: relative;
                    border: 2px solid $color-primary-1;

                    &--approved {
                        border-left: 5px solid rgb(33, 175, 33);
                    }

                    &--unapproved {
                        border-left: 5px solid rgb(221, 70, 70);
                    }

                    &__buttons {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: $color-primary-0;
                        color: white;
                        font-size: .7rem;
                        padding: 0 5px;
                        z-index: 10;
                        height: 98%;

                        .button {
                            background: none;
                            border: none;
                            margin-right: 2px;
                            transition: .2s;

                            img {
                                width: 15px;
                            }

                            &--delete:hover {
                                background-color: rgb(190, 46, 46);
                            }

                            &--view:hover {
                                background-color: rgb(43, 146, 206);
                            }

                            &--edit:hover {
                                background-color: rgb(145, 145, 56);
                            }

                            &--approve:hover {
                                background-color: rgb(64, 155, 87);
                            }

                            &:hover {
                                transform: translateY(1px);
                            }

                            &:focus {
                                outline: none;
                            }
                        }

                    }
                }
            }



        }
    }

    &__homeimages {

        &__body {

            display: flex;

            &__image {
                position: relative;
                box-shadow: 0 0 2px rgba(black, .9);
                margin: 5px;
                transition: all .3s;

                &:hover .foreground {
                    display: block;
                    opacity: 1;
                    transition: all .3s;
                }

                img {
                    height: 200px;
                    border: 4px solid white;
                }

                & .foreground {
                    opacity: 0;
                    position: absolute;
                    background-color: rgba(black, .4);
                    height: 100%;
                    width: 100%;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    transition: all .3s;

                    button {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border: none;
                        background-color: $color-primary-1;
                        padding: 10px;
                        text-transform: uppercase;
                        font-weight: 800;
                        letter-spacing: 1px;
                        border-radius: 5px;
                        color: $color-primary-0;

                        &:hover {
                            background-color: darken($color-primary-1, 10%)
                        }

                        &:focus {
                            outline: none;
                        }

                        img {
                            height: 20px;
                            background: transparent;
                            border: none;
                            margin: 0;


                        }
                    }
                }
            }

        }
    }

    &__profile {

        width: 50%;
        margin: auto;

        .edit-profile button {
            margin-left: 10px;
            background: none;
            border: none;
        }

        .edit-profile button:hover {

            color: $color-primary-0;
            border-radius: 5px;
        }

        &__header {
            padding-top: 5rem;
            width: 50%;
            margin: auto;

            .profile-picture {
                width: 10rem;
                height: 10rem;
                background: url("../../profile-pic-placeholder.jpg");
                background-size: cover;
                border-radius: 100%;
                margin: auto;
            }

            .username {
                font-weight: 600;
                font-size: 1.4rem;
                letter-spacing: 1px;
                text-align: center;
                padding-top: 0.5rem;
                padding-bottom: 2rem;
            }
        }

        &__body {
            width: 60%;
            margin: auto;
            text-align: left;

            .field {
                color: darkslategray;
                font-weight: 500;
                font-size: .8rem;
                text-transform: uppercase;

            }

            .value {
                font-weight: 600;
                text-align: right;
                margin-right: 10px;
            }
        }
    }
}