.events {
    height: 100%;
    padding: 20px;
    overflow-y: scroll !important;

    // text-align: center;
    .heading-primary {
        // text-align: center;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .row {
        margin: auto;
    }
}