.events {

    padding: 20px;

    // text-align: center;
    .heading-primary {
        // text-align: center;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .row {
        margin: auto;
    }
}