.users .heading {
  font-weight: bold;
  color: darkslategray;
  text-align: left;
  padding-left: 1rem;
}

h1.heading {
  text-align: right !important;
  border-bottom: 1px solid lightgray;
  padding: 3px;
  margin-top: 3rem;
}

.users__table {
  margin: 2rem;
}

.users__table-body {
  height: 40vh;
  overflow-y: scroll;
  background: darkslategray;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.6);
}
