.note-card {
    perspective: 1200px;
    -moz-perspective: 1500;
    position: relative;
    width: 150px;
    height: 100px;
    margin-bottom: 10px;

    &__side {
        padding: 5px;
        width: 150px;
        height: 100px;
        border-radius: 5px;
        color: white;
        transition: all .5s ease;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 0 0 2px rgba(black, .9);
        backface-visibility: hidden;

        &--front {

            // background-color: #B31D23;
            background-color: gray;

            h1 {
                margin: 0;
                padding: 0;
                font-size: 1.6rem;
                border-bottom: 1px solid darken(gray, 10%);
                text-transform: uppercase;
            }


        }

        &--back {
            // background-color: #B31D23;
            background-color: gray;
            transform: rotateY(180deg);

            &__button {
                position: absolute;
                left: 50%;
                outline: none;
                top: 50%;
                transform: translate(-50%, -50%);
                border: none;
                background: gray;
                color: white;
                padding: 10px 10px;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1px;
                border-radius: 5px;
                transition: .3s;

                &:hover {
                    cursor: pointer;
                    background: darken(gray, 10%);
                }

                &:focus,
                &:active {
                    outline: none;
                }

            }
        }



    }


    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }

    &__title {
        font-weight: 600;
        text-transform: uppercase;
        line-height: 10px;
    }

    &__author {
        position: absolute;
        left: 5px;
        bottom: 4px;
    }

    &--pdf {
        .note-card__side {
            &--front {
                background-color: #B31D23;

                h1 {
                    border-bottom: 1px solid darken(#B31D23, 10%);
                }

            }

            &--back {
                background-color: #B31D23;

                &__button {
                    background-color: #B31D23;

                    &:hover {
                        background: darken(#B31D23, 10%);
                    }
                }
            }
        }
    }

    &--doc {
        .note-card__side {
            &--front {
                background-color: #274E9D;

                h1 {
                    border-bottom: 1px solid darken(#274E9D, 10%);
                }

            }

            &--back {
                background-color: #274E9D;

                &__button {
                    background-color: #274E9D;

                    &:hover {
                        background: darken(#274E9D, 10%);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .note-card {
        width: 120px;
        height: 80px;
        font-size: 85%;

        &__side {
            width: 120px;
            height: 80px;
        }
    }
}