html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  padding-top: 4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Source Sans Pro", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading {
  font-weight: bold;
  color: darkslategray;
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 55%;
  }
}
